$primary: #3D5A99;
$secondary: #9cb4d8;
$body: #e9ebee;
$light: #fff;
$dark: #333;
$button: #4267b2;
$border-button: #29487d;
$hover-button: #365899;
$border-input: #bdc7d8;
$color-secondary-text: #90949c;

@mixin d-flex($align, $justify, $direction: row) {
    display: flex;
    align-items:$align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin d-grid($columns) {
    display: grid;
    grid-template-columns:$columns;
}

#header-up {
    width: 100%;
    height: 16%;
    background-color:$primary;

    @include d-flex(center,center);

    #container-header {
        width:80%;
        height: 100%;

        @include d-flex(center,space-between);

        .dir {
            height: 100%;
            @include d-flex(center,center);

            .inputs-container {
                display: flex;

                .input-container {
                    display: flex;
                    flex-direction: column;

                    &:first-child {
                        margin-right: 20px;
                    }

                    label {
                        color:$light;
                        font-family: sans-serif;
                        margin-bottom: 5px;
                    }

                    a {
                        color: #9cb4d8;
                        text-decoration: none;
                        font: normal 0.90em sans-serif;
                        margin-top: 5px;
                    }
                }
            }

            button {
                margin-left: 20px;
                width: 70px;
                height: 25px;
                padding: 2px 6px;
                border-radius: 2px;
                line-height: 18px;
                font: bold 0.90em sans-serif;
                color: $light;
                background-color: $button;
                border: 1px solid $border-button;

                &:hover {
                    background-color: $hover-button;
                }
            }
        }
    }
}

#body {
    height: auto;
    background-color: $body;

    @include d-grid(repeat(2,1fr));

    .esq {
        color: $dark;
        @include d-flex(center,flex-start,column);

        #container-accounts {
            width: 389px;

            header {
                margin: 20px 0;

                h1 {
                    font: 600 2.5em sans-serif;   
                    line-height: 6vh;  
                }

                h3 {
                    font: 300 1.3em sans-serif;
                    line-height: 5vh;
                }
            }

            main {
                .container-cards {
                    @include d-flex(center,flex-start);
                    width: 100%;

                    .card {
                        text-align:center;
                        z-index:3;
                        border: 1px solid rgba(128, 128, 128, 0.507);
                        transition: all .3s;
                        border-radius: 4px;
                        
                        &:hover {
                            box-shadow: 0 0 14px rgba(51, 51, 51, 0.527);
                        }

                        p {
                            padding: 10px 0;
                            font:500 1.1em sans-serif;
                            color: $primary;
                            background: $light;
                        }

                        &:last-child {          
                            margin-left: 20px;  

                            i {
                                @include d-flex(center,center);
                                font-size: 3em;
                                color: $primary;
                                background: #f5f6f7;
                                width: 160px;
                                height: 160px;
                            }
                        }
                    }
                }
            }
        }
    }

    .dir {
        color: $dark;

        #container-register {
            width: 450px;

            header {
                margin: 20px 0;

                h1 {
                    font: 600 2.5em sans-serif;   
                    line-height: 6vh;  
                }

                h3 {
                    font: 300 1.3em sans-serif;
                    line-height: 5vh;
                }
            }

            main {
                width: 100%;
                    
                #infos {
                    .inputs-container {
                        width: 100%;
                        display: flex;

                        input {
                            width: 100%;

                            &:first-child {
                                margin-right: 8px;
                            }
                        }                    
                    }
                    
                    input {
                        padding: 8px 10px;
                        border-radius: 5px;
                        border: 1px solid $border-input;
                        
                        &::placeholder {
                            font-size: 1.2em;
                            font-family: sans-serif;
                        }
                    }
                    
                    #phoneEmail {
                        width: 429px;
                        margin: 8px 0;
                    }
                    
                    #newPasswd {
                        width: 429px;
                    }
                }

                h4 {
                    color: $color-secondary-text;
                    font: bold 1.2em sans-serif;
                    margin-top: 25px;
                    margin-bottom:10px;
                    line-height: 3vh;
                }

                select {
                    height: 35px;
                    width: auto;
                }

                #genero {
                    width: 100%;
                    
                    .inputs-container {
                        @include d-flex(center,space-between);
                        
                        .input-container {
                            label {
                                font-size: 1.3em;
                                font-family: sans-serif;

                            }
                        }
                    }
                }
            }

            p {
                font: normal 1em sans-serif;
                color: $color-secondary-text;
                margin: 25px 0;

                span {
                    color: $primary;
                }
            }

            button {
                min-width: 194px;
                line-height: 23.94px;
                height: 39px;
                color: $light;
                font: bold 1.3em sans-serif;
                background-color: #69a74e;
                /* border: 2px solid #3b6e22 #3b6e22 #2c5115; */
                box-shadow: inset 0 1px 1px #a4e388;
                border-radius: 5px;
                padding: 7px 20px;
                border: none;
            }

            hr {
                margin-top:25px;
                background: gray;
            }
        }
    }
}